<div class="cont-genesis-queues">
    <div class="row cont-chekbox">
        <section class="example-section" style="display: flex;justify-content: end">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">Temporary Update</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">Modify Existing Queues/Skills</label>
            </div>            
        </section>
    </div>
    <div class="row justify-content-start px-2">
        <div class="col-md-4">
            <div class="input-group mb-3">
                <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" #searchBar>
                <span class="input-group-text" id="basic-addon2">Search</span>
            </div> 
        </div>
        <div class="col-md-3">
            <div class="dropdown">
                <button type="button" class="btn btn-light dropdown-toggle me-1" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    Actions
                </button>
                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openModal()">
                    Actions 2
                </button>
                <form class="dropdown-menu p-4">
                    <label for="exampleDropdownFormEmail2" class="form-label fs-5 mb-3">Skills</label>
                    <div class="form-check" *ngFor="let item of QUEUE">
                        <input type="checkbox" class="form-check-input" [value]="item" (click)="skillSelect($event)">
                        <label class="form-check-label">{{item}}</label>
                    </div>
                    <hr class="dropdown-divider"> 
                    <label for="exampleDropdownFormEmail2" class="form-label fs-5 mb-3">Start rating</label>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">1</label>
                    </div>                  
                </form>
            </div>
        </div>
        <div class="col-md-2 offset-md-3">
            <app-pagination [records]="DATA_ALL" [current_page]="current_page" [total_pages]="num_pages"(newPage)="newPage($event)"></app-pagination>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="content-table table-responsive">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </th>
                        <th scope="col">Name</th>
                        <th scope="col">Active</th>
                        <th scope="col">Email</th>
                        <th scope="col">Queues</th>
                        <th scope="col">Skills</th>
                        <th scope="col">License</th>
                        <th scope="col">Department</th>
                        <th scope="col">Agent</th>
                        <th scope="col">Manager</th>
                        <th scope="col">Predefined group</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of dataSource">
                        <th scope="row">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </th>
                        <td>{{item.name}}</td>
                        <td><mat-icon *ngIf="item.active;  else notActive" style="color: #06F85C">check</mat-icon>
                            <ng-template #notActive><mat-icon style="color: #ef3131">cancel</mat-icon></ng-template>
                        </td>
                        <td>{{item.email}}</td>
                        <td>{{item.queues}}</td>
                        <td>{{item.skill}}</td>
                        <td>{{item.license}}</td>
                        <td>{{item.department}}</td>
                        <td>{{item.agent}}</td>
                        <td>{{item.manager}}</td>
                        <td>{{item.predefinedgroup}}</td>
                        <td><mat-icon style="cursor: pointer">more_vert</mat-icon></td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-xxl-down">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2 modal-sidebar">
                                <div class="cont-modal-sidebar">
                                    <div class="p-3" >
                                        <label for="exampleDropdownFormEmail2" class="form-label fs-5 mb-3" style="color: white">Select:</label>
                                  
                                        <div class="p-3" style="background-color: white; border-radius: 5px; width: 100%; margin: auto">
                                          <div class="form-check" *ngFor="let item of QUEUE">
                                            <input type="checkbox" class="form-check-input" (click)="setColumnQueue(item)" [value]="item">
                                            <label class="form-check-label">{{item[0]}}</label>
                                          </div> 
                                        </div>
                                    </div>
                                    <div class="p-3">          
                                        <label for="exampleDropdownFormEmail2" class="form-label fs-5 mb-3" style="color: white">Fiter Queue:</label>
                                        <ul class="list-group">
                                          <div class="border-bottom border-secondary" *ngFor="let item of QUEUES_LIST" style="background-color: white">
                                            <label for="exampleDropdownFormEmail2" class="form-label fs-7 mt-3" style="color: black;font-weight: 500;padding: 3px 5px;">{{item[0]}}:</label>
                                                      
                                            <li class="list-group-item" *ngFor="let elm of item[1]" style="border: none">
                                              <input class="form-check-input me-1" type="checkbox" (change)="columnSelected($event,item[0])" value="{{elm}}" id="{{elm}}">
                                              <label class="form-check-label stretched-link" for="{{elm}}">{{elm}}</label>
                                            </li>
                                          </div>
                                        </ul>
                                    </div> 
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="row justify-content-start px-2">
                                    <div class="col-md-4">
                                        <div class="input-group mb-3 pt-2">
                                            <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" #searchQueues>
                                            <span class="input-group-text" id="basic-addon2">Search</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cont-modal-table">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Queue Name</th>
                                                <th scope="col">Queue ID</th>
                                                <th scope="col">Call Type</th>
                                                <th scope="col">Language</th>
                                                <th scope="col">Provider</th>
                                                <th scope="col">Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of dataSource_queue" >                    
                                                <td>{{item.queuename}}</td>
                                                <td>{{item.queueid}}</td>
                                                <td>{{item.calltype}}</td>
                                                <td>{{item.language}}</td>
                                                <td>{{item.provider}}</td>
                                                <td>{{item.description}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
