<div class="cont-genesis-queues">
    <div class="row cont-chekbox">
        <section class="example-section" style="display: flex;justify-content: end">
            <!-- <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">Temporary Update</label>
            </div> -->
           <div style="display: flex;gap: 10px;">
            <button type="button" class="btn btn-primary" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalModifyqueues">Queue Maintenance</button>
            <button type="button" class="btn btn-primary" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalModifyqueues">Export CSV</button>
            <button type="button" class="btn btn-primary" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalModifyqueues">History</button>
           </div>
        </section>
    </div>
    <div class="row justify-content-start px-2">
        <div class="col-md-4">
            <div class="input-group mb-3">
                <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" #searchBar>
                <span class="input-group-text" id="basic-addon2">Search</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dropdown">             
                <button #buttonLayout type="button" (click)="setLayout(buttonLayout.value)" class="btn btn-secondary ms-3" [value]="layout" >{{layout}}</button>
            </div>
        </div>
        <div class="col-md-2">
            <div class="btn-group">
                <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                    {{num_item_page}}
                </button>
                <ul class="dropdown-menu">
                  <li *ngFor="let item of ITEMS_PER_PAGE" (click)="number_of_pages(item)" class="dropdown-item" style="cursor: pointer">{{item}}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <app-pagination [records]="DATA_ALL" [current_page]="current_page" [total_pages]="num_pages" (newPage)="newPage($event)"></app-pagination>
        </div>
    </div>
    <div *ngIf="layout != 'Vertical'" class="row mt-2">
        <div class="col-md-12">
            <div class="content-table table-responsive">
                <table class="table mb-5" matSort (matSortChange)="sortData($event)">
                    <thead>
                      <tr>
                        <th scope="col">
                            <input class="form-check-input" type="checkbox" (change)="alertCheckbox($event)" value="" #selectAllItems>
                        </th>
                        <th scope="col" mat-sort-header="name">Name</th>
                        <th scope="col">Online</th>
                        <th scope="col">Queues</th>
                        <th scope="col" mat-sort-header="department">Department</th>
                        <th scope="col" mat-sort-header="agent">Agent</th>
                        <th scope="col" mat-sort-header="manager">Manager</th>
                        <th scope="col" mat-sort-header="predefinedgroup">Predefined group</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of sortedData">
                        <th scope="row">
                            <input class="form-check-input" type="checkbox" (change)="itemSelect($event,item)" value="{{item.name}}" id="{{item.name}}" [checked]="item.is_checked">
                        </th>
                        <td>{{item.name}}</td>
                        <td><mat-icon *ngIf="item.active;  else notActive" style="color: #06F85C">check</mat-icon>
                            <ng-template #notActive><mat-icon style="color: #ef3131">cancel</mat-icon></ng-template>
                        </td>
                        <td><span *ngFor="let queue of item.queues">{{queue.queuename}}, </span></td>
                        <td>{{item.department}}</td>
                        <td>{{item.agent}}</td>
                        <td>{{item.manager}}</td>
                        <td>{{item.predefinedgroup}}</td>
                        <td><mat-icon style="cursor: pointer">more_vert</mat-icon></td>
                      </tr>
                    </tbody>
                </table>
                <app-table-agents *ngIf="showTableAgents" [selected_agents]="data_table_selected_agents"></app-table-agents>
                <app-table-predefined-group *ngIf="showTableGroupPredenined"></app-table-predefined-group>
                <app-modal-predefined-group></app-modal-predefined-group>
                <app-table-modify-queues [selected_agents]="SELECTED_AGENTS"></app-table-modify-queues>
            </div>
        </div>
    </div>

    <div class="row mt-2" *ngIf="layout != 'Horizontal'">
        <div class="col-md-12 mt-2">
            <div style="width: 100%; overflow-y: auto">
                <div class="content-table table-responsive d-flex flex-nowrap" style="width: 140%">
                    <table class="table mt-5" matSort (matSortChange)="sortData($event)" style="width:50%">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <input class="form-check-input" type="checkbox" (change)="alertCheckbox($event)" value="" #selectAllItems>
                                </th>
                                <th scope="col" mat-sort-header="name">Name</th>
                                <th scope="col">Online</th>
                                <th scope="col">Queues</th>
                                <th scope="col" mat-sort-header="department">Department</th>
                                <th scope="col" mat-sort-header="agent">Agent</th>
                                <th scope="col" mat-sort-header="manager">Manager</th>
                                <th scope="col" mat-sort-header="predefinedgroup">Predefined group</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of sortedData">
                            <th scope="row">
                                <input class="form-check-input" type="checkbox" (change)="itemSelect($event,item)" value="{{item.name}}" id="{{item.name}}" [checked]="item.is_checked">
                            </th>
                            <td>{{item.name}}</td>
                            <td><mat-icon *ngIf="item.active;  else notActive" style="color: #06F85C">check</mat-icon>
                                <ng-template #notActive><mat-icon style="color: #ef3131">cancel</mat-icon></ng-template>
                            </td>
                            <td><span *ngFor="let queue of item.queues">{{queue.queuename}}, </span></td>
                            <td>{{item.department}}</td>
                            <td>{{item.agent}}</td>
                            <td>{{item.manager}}</td>
                            <td>{{item.predefinedgroup}}</td>
                            <td><mat-icon style="cursor: pointer">more_vert</mat-icon></td>
                        </tr>
                        </tbody>
                    </table>
                    <app-table-agents *ngIf="showTableAgents" [selected_agents]="data_table_selected_agents" style="width:50%"></app-table-agents>
                    <app-table-predefined-group *ngIf="showTableGroupPredenined"></app-table-predefined-group>
                    <app-modal-predefined-group></app-modal-predefined-group>
                    <app-table-modify-queues [selected_agents]="SELECTED_AGENTS"></app-table-modify-queues>
                </div>
            </div>            
        </div>
    </div>
    <app-modal (savedQueues)="addQueues($event)"></app-modal>
</div>
