.cont-genesis-queues{
    box-sizing: border-box;
    position: relative;
    // width: auto;
    .cont-chekbox{
        padding: 10px;
    } 
    
    .btn-light{
        --bs-btn-hover-bg: none;       
    }
    .btn-check:checked+.btn,
     .btn.active, .btn.show,
      .btn:first-child:active,
       :not(.btn-check)+.btn:active {
        background-color: white;        
    }
}