<h2 class="mx-2">{{dataSource[0]}}</h2>
<table class="table">
    <thead>
      <tr>   
        <th scope="col">Name</th>
        <th scope="col">Department</th>
        <th scope="col">Agent</th>
        <th scope="col">Manager</th>
        <th scope="col">Queues</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dataSource[1][0]">

        <td>{{item.name}}</td>
        <td>{{item.department}}</td>
        <td>{{item.agent}}</td>
        <td>{{item.manager}}</td>
        <td><span *ngFor="let queue of item.queues">{{queue.queuename}}, </span></td>
      </tr>
    </tbody>
</table>
