<div class="modal fade" id="ModalGroupPredefined" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">        
        <div class="modal-body">
            <p>Predefined Group: {{predefinedGroup}}</p>
            <div *ngFor="let item of GROUPS">
              <label class="mt-2">{{item[0]}}</label>
              <ul class="list-group cont-list-group" *ngFor="let elm of item[1]">                
                <li class="list-group-item" *ngFor="let item of elm" style="border: none">
                  <input class="form-check-input me-1" type="checkbox" value="{{item}}" id="{{item}}">
                  <label class="form-check-label" for="firstCheckbox">{{item}}</label>
                </li>
              </ul>
            </div>            
            <button type="button" class="btn btn-light mt-3">Add</button>
        </div>
      </div>
    </div>
</div>

