<!-- Modal -->
<div class="modal fade" id="ModalGroupPredefined" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-body">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-12">
                          <h2>Create predefined group</h2>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-12">
                          <form class="row g-3">
                              <div class="col-12">
                                <label for="name" class="form-label">Group name: </label>
                                <input type="text" [(ngModel)]="groupName" name="name" class="form-control" id="name">
                              </div>
                          </form>         
                      </div>        
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-light mx-1" (click)="createGroup()" data-bs-dismiss="modal" style="background-color:#1a2a5d; color: white">
                  Save
              </button> 
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          </div>
      </div>
  </div>
</div>

<!-- <div class="modal fade" id="ModalGroupPredefined" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">        
        <div class="modal-body">
            <p>Create predefined group</p>
            <div *ngFor="let item of GROUPS">
              <label class="mt-2">{{item[0]}}</label>
              <ul class="list-group cont-list-group" *ngFor="let elm of item[1]">                
                <li class="list-group-item" *ngFor="let item of elm" style="border: none">
                  <input class="form-check-input me-1" type="checkbox" value="{{item}}" id="{{item}}">
                  <label class="form-check-label" for="firstCheckbox">{{item}}</label>
                </li>
              </ul>
            </div>            
            <button type="button" class="btn btn-light mt-3">Add</button>
        </div>
      </div>
    </div>
</div> -->

