    <div class="">
        <div class="row  px-3 mb-3">
            <div class="col-md-5" style="display: flex;">
                <div style="display: flex;justify-content: center;align-items: center;gap: 10px;flex-direction: column;">
                    <img src="assets/logo.jpg" style="cursor: auto;" alt="">
                    <h1>Genesys Skilling Tool</h1>
                </div>
            </div>           
        
            <div class="col-md-7" style="padding-top: 10px;">
                <app-cont-queued></app-cont-queued>
            </div>
        </div>
               
    </div>  
