<div class="container-fluid">
    <div class="row">
        <div [ngClass]="{'col-sm-1': collapseMenu === false,'col-sm-2': collapseMenu === true}" class="d-none d-sm-block" style="padding: 0">
            <app-side-menu #sidemenu (collapseExpandMenu)="collapseMenu = $event"></app-side-menu>
        </div>
        <div class="" [ngClass]="{'col-sm-11': collapseMenu === false,'col-sm-10': collapseMenu === true}"style="padding-left: 0">
            <div class="row">
                <div class="col-md-12">
                    <app-menu></app-menu>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <app-genesis-queues></app-genesis-queues>
                </div>
            </div>            
        </div>
    </div>
</div>

