<div class="cont-side-bar">
  <nav class="navbar navbar-dark">
    <div class="container-fluid">
      <button class="navbar-toggler collapsed" type="button" (click)="collapseMenu()" data-bs-toggle="collapse" data-bs-target="#sideMenuGenesys" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon top-bar"></span>
        <span class="navbar-toggler-icon middle-bar"></span>             
        <span class="navbar-toggler-icon bottom-bar"></span>
      </button>
    </div>
  </nav>
  <div class="collapse" id="sideMenuGenesys" style="margin-top: 75px">
    <div class="p-3" >
      <label for="exampleDropdownFormEmail2" class="form-label fs-5 mb-3" style="color: white">Add to:</label>

      <div class="p-3" style="background-color: white; border-radius: 5px; width: 100%; margin: auto">
        <div class="form-check" *ngFor="let item of LEVEL">
          <input type="checkbox" class="form-check-input" (click)="selectLevel(item)" [value]="item">
          <label class="form-check-label">{{item[0]}}</label>
        </div> 
      </div>
          
      <!-- <label>Add to</label>
      <select class="form-select" (ngModelChange)="selectLevel($event)" [(ngModel)]="chosenLevel" aria-label="Default select example">
        <option selected>select menu</option>             
        <option *ngFor="let item of LEVEL" value="{{item}}">{{item}}</option>          
      </select> -->
    </div>
    <div class="p-3">          
      <label for="exampleDropdownFormEmail2" class="form-label fs-5 mb-3" style="color: white">Name:</label>
      <ul class="list-group">
        <div class="border-bottom border-secondary" *ngFor="let item of NAME" style="background-color: white">
          <label for="exampleDropdownFormEmail2" class="form-label fs-7 mt-3" style="color: black;font-weight: 500;padding: 3px 5px;">{{item[0]}}:</label>
                    
          <li class="list-group-item" *ngFor="let elm of item[1]" style="border: none">
            <input class="form-check-input me-1" type="checkbox" (change)="nameItemSelected($event,item[0])" value="{{elm}}" id="{{elm}}">
            <label class="form-check-label stretched-link" for="{{elm}}">{{elm}}</label>
          </li>
        </div>
      </ul>
      <!-- <div class="dropdown dropend">
        <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" [disabled]="!levelSelect" style="width: 100%">
          Select menu
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let item of NAME">
            <a class="dropdown-item" href="#">
              <div class="form-check"> -->
                  <!-- <input class="form-check-input" type="checkbox" value="{{item}}" [checked]="chequedBoxName(item)" (change)="nameItemSelected($event)" id="Checkme1" /> -->
                  <!-- <input class="form-check-input" type="checkbox" value="{{item}}"  id="Checkme1" />
                  <label class="form-check-label" for="Checkme1">{{item}}</label>                                
              </div>
            </a>
          </li>
        </ul>
      </div> -->
    </div>    
    <div class="p-2">
      <label>Start rating</label>
      <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
</div>
