<!-- Modal -->
<div class="modal fade" id="ModalQueue" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2 modal-sidebar">
                            <div class="cont-modal-sidebar">
                                <div class="px-3 pb-1 mt-2" style="border-radius: 5px; width: 100%">
                                    <li *ngFor="let item of SELECTED_FILTER_QUEUES" class="list-group-item d-flex justify-content-between px-3 py-2" style="background-color: white;">
                                        {{item.target.value}}
                                      <span (click)="deleteFilter(item)" style="cursor: pointer">X</span>
                                    </li>
                                </div>                                                            
                                <div class="p-3">         
                                    <mat-accordion>                                     
                                        <mat-expansion-panel *ngFor="let item of QUEUE" (opened)="panelOpenState = true"
                                                             (closed)="panelOpenState = false">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    {{item[0]}}
                                                </mat-panel-title>                                                
                                            </mat-expansion-panel-header>
                                            <div class="form-check" *ngFor="let elm of item[1]">
                                                <input type="checkbox" class="form-check-input" (change)="columnSelected($event,elm)" value="{{elm.value}}" id="{{elm.value}}">
                                                <label class="form-check-label">{{elm.value}}</label>
                                            </div>                                           
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                </div> 
                            </div>
                        </div>
                        
                        <div class="col-md-10">                            
                            <div class="row justify-content-start px-2">
                                <div class="col-md-4">
                                    <div class="input-group mb-3 pt-2">
                                        <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" #searchQueues>
                                        <span class="input-group-text" id="basic-addon2">Search</span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="btn-group mb-3 pt-2">
                                        <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                                            {{num_item_page}}
                                        </button>
                                        <ul class="dropdown-menu">
                                          <li *ngFor="let item of ITEMS_PER_PAGE" class="dropdown-item" (click)="number_of_pages(item)" style="cursor: pointer">{{item}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3 pt-2 offset-md-3">
                                    <app-pagination [records]="DATA_ALL_QUEUES" [current_page]="current_page" [total_pages]="num_pages" (newPage)="newPage($event)"></app-pagination>
                                </div>
                            </div>
                          
                            <div class="cont-modal-table">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input class="form-check-input" type="checkbox" (change)="selectQueues($event)" value="" #selectAllQueues>
                                            </th>
                                            <th scope="col">Queue Name</th>                                          
                                            <th scope="col">Call Type</th>
                                            <th scope="col">Language</th>
                                            <th scope="col">Provider</th>
                                            <th scope="col">Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of dataSource_queue" >
                                            <td>
                                                <input class="form-check-input" type="checkbox" (change)="queueSelect($event,item)" value="{{item.queuename}}" id="{{item.queuename}}" [checked]="item.is_checked">
                                            </td>                    
                                            <td>{{item.queuename}}</td>                                           
                                            <td>{{item.calltype}}</td>
                                            <td>{{item.language}}</td>
                                            <td>{{item.provider}}</td>
                                            <td>{{item.description}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light mx-1" (click)="save_Selected_Queues()" data-bs-dismiss="modal" style="background-color:#1a2a5d; color: white">
                    Save 
                </button> 
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
