<!-- Modal -->
<div class="modal fade" id="ModalQueue" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2 modal-sidebar">
                            <div class="cont-modal-sidebar">
                                <div class="px-3 pb-1 mt-2" style="border-radius: 5px; width: 100%">
                                    <li *ngFor="let item of SELECTED_FILTER_QUEUES" class="list-group-item d-flex justify-content-between px-3 py-2" style="background-color: white;">
                                        {{item.target.value}}
                                      <span (click)="deleteFilter(item)" style="cursor: pointer">X</span>
                                    </li>
                                </div>
                                <div class="p-3">
                                    <mat-accordion>
                                        <mat-expansion-panel *ngFor="let item of QUEUE" (opened)="panelOpenState = true"
                                                             (closed)="panelOpenState = false">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    {{item[0]}}
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <div class="form-check" *ngFor="let elm of item[1]">
                                                <input type="checkbox" class="form-check-input" (change)="columnSelected($event,elm)" value="{{elm.value}}" id="{{elm.value}}">
                                                <label class="form-check-label">{{elm.value}}</label>
                                            </div>
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-10">
                            <div class="row justify-content-start px-2">
                                <div class="col-md-4">
                                    <div class="input-group mb-3 pt-2">
                                        <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" #searchQueues>
                                        <span class="input-group-text" id="basic-addon2">Search</span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="btn-group mb-3 pt-2">
                                        <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                                            {{num_item_page}}
                                        </button>
                                        <ul class="dropdown-menu">
                                          <li *ngFor="let item of ITEMS_PER_PAGE" class="dropdown-item" (click)="number_of_pages(item)" style="cursor: pointer">{{item}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3 pt-2 offset-md-3">
                                    <app-pagination [records]="DATA_ALL_QUEUES" [current_page]="current_page" [total_pages]="num_pages" (newPage)="newPage($event)"></app-pagination>
                                </div>
                            </div>

                            <div class="cont-modal-table">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input class="form-check-input" type="checkbox" (change)="selectQueues($event)" value="" #selectAllQueues>
                                            </th>
                                            <th scope="col">Queue Name</th>
                                            <th scope="col">Call Type</th>
                                            <th scope="col">Language</th>
                                            <th scope="col">Provider</th>
                                            <th scope="col">Description</th>
                                            <th scope="col" colspan="2">Temporary</th>
                                            <th scope="col" colspan="3"></th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of dataSource_queue" >
                                            <td>
                                                <input class="form-check-input" type="checkbox" (change)="queueSelect($event,item)" value="{{item.queuename}}" id="{{item.queuename}}" [checked]="item.is_checked">
                                            </td>
                                            <td>{{item.queuename}}</td>
                                            <td>{{item.calltype}}</td>
                                            <td>{{item.language}}</td>
                                            <td>{{item.provider}}</td>
                                            <td>{{item.description}}</td>
                                            <td>{{item.hour}}</td>
                                            <td>{{item.days}}</td>
                                            <td><div class="form-check form-switch">
                                                 <input class="form-check-input" type="checkbox" role="switch" (change)="activeTemporary($event,item)" value="{{item}}" id="{{item.name}}">
                                                </div>
                                            </td>
                                                <td><button type="button" (click)="nameQueueOpen = item.queuename" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#ModalOpenQueue">Agents</button></td>
                                                <td><button type="button"  class="btn btn-primary btn-sm" >Queue</button></td>
                                            <td>
                                                <span *ngIf="item.temporary">
                                                    <!-- <select class="form-select" [(ngModel)]="teporaryHour" (change)='onOptionsSelected($event)' aria-label="Default select example">
                                                        <option selected>Hours</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="3">4</option>
                                                        <option value="3">5</option>
                                                        <option value="3">6</option>
                                                        <option value="3">7</option>
                                                        <option value="3">8</option>
                                                        <option value="3">8</option>
                                                        <option value="3">10</option>
                                                    </select> -->
                                                    <div class="dropdown">
                                                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                          Hours
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                          <li><button (click)="addHour('1',item)" class="dropdown-item" type="button">2</button></li>
                                                          <li><button (click)="addHour('2',item)" class="dropdown-item" type="button">2</button></li>
                                                          <li><button (click)="addHour('3',item)" class="dropdown-item" type="button">3</button></li>
                                                          <li><button (click)="addHour('4',item)" class="dropdown-item" type="button">4</button></li>
                                                          <li><button (click)="addHour('5',item)" class="dropdown-item" type="button">5</button></li>
                                                          <li><button (click)="addHour('6',item)" class="dropdown-item" type="button">6</button></li>
                                                          <li><button (click)="addHour('7',item)" class="dropdown-item" type="button">7</button></li>
                                                          <li><button (click)="addHour('8',item)" class="dropdown-item" type="button">8</button></li>
                                                          <li><button (click)="addHour('9',item)" class="dropdown-item" type="button">9</button></li>
                                                          <li><button (click)="addHour('10',item)"class="dropdown-item" type="button">10</button></li>
                                                        </ul>
                                                    </div>
                                                </span>
                                            </td>
                                            <td>
                                                <span *ngIf="item.temporary">
                                                    <div class="dropdown">
                                                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                          Days
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li><button (click)="addDays('1',item)" class="dropdown-item" type="button">2</button></li>
                                                            <li><button (click)="addDays('2',item)" class="dropdown-item" type="button">2</button></li>
                                                            <li><button (click)="addDays('3',item)" class="dropdown-item" type="button">3</button></li>
                                                            <li><button (click)="addDays('4',item)" class="dropdown-item" type="button">4</button></li>
                                                            <li><button (click)="addDays('5',item)" class="dropdown-item" type="button">5</button></li>
                                                            <li><button (click)="addDays('6',item)" class="dropdown-item" type="button">6</button></li>
                                                            <li><button (click)="addDays('7',item)" class="dropdown-item" type="button">7</button></li>
                                                            <li><button (click)="addDays('8',item)" class="dropdown-item" type="button">8</button></li>
                                                            <li><button (click)="addDays('9',item)" class="dropdown-item" type="button">9</button></li>
                                                            <li><button (click)="addDays('10',item)"class="dropdown-item" type="button">10</button></li>
                                                          </ul>
                                                    </div>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light mx-1" (click)="save_Selected_Queues()" data-bs-dismiss="modal" style="background-color:#1a2a5d; color: white">
                    Create New Queue
                </button>
                <button type="button" class="btn btn-light mx-1" (click)="save_Selected_Queues()" data-bs-dismiss="modal" style="background-color:#1a2a5d; color: white">
                    Save
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="ModalOpenQueue" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-center my-5">
                                {{nameQueueOpen}}
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cont-modal-table">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Department</th>
                                            <th scope="col">Agent</th>
                                            <th scope="col">Manager</th>
                                            <th scope="col">Predefined group</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of LIST_FALSE" >
                                            <td>{{item.name}}</td>
                                            <td>{{item.department}}</td>
                                            <td>{{item.agent}}</td>
                                            <td>{{item.manager}}</td>
                                            <td>{{item.predefinedgroup}}</td>
                                            <td>
                                                <button type="button" (click)="removeAgent(item)" class="btn btn-link">remove</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
