.modal-sidebar{  
    padding: 0;
    height: 85vh;      
}

.modal-body{
    padding: 0;
    height: 85vh;
    .cont-modal-sidebar{
        background-color: #1a2a5d;
        display: flex;
        flex-direction: column;
        height: 85vh;
        overflow-y: auto;
    }
    //-------------modal side bar---------//
    /* Track */
    .cont-modal-sidebar::-webkit-scrollbar {
        width: 6px;
    }
    .cont-modal-sidebar::-webkit-scrollbar-track {
        background: white;
    }

    /* Handle */
    .cont-modal-sidebar::-webkit-scrollbar-thumb {
        background: #283e90;
        border-radius: 10px;
    }

    /* Handle on hover */
    .cont-modal-sidebar::-webkit-scrollbar-thumb:hover {
        background: #283e90;
    }

    .cont-modal-table{
        height: 73vh;
        overflow-y: auto;
    }
    
    .btn-light:hover{
        background-color: #1a2a5d;
        color: white;
    }
}

.cont-modal-table::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.cont-modal-table::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
.cont-modal-table::-webkit-scrollbar-thumb {
    background: #283e90;
    border-radius: 10px;
}

/* Handle on hover */
.cont-modal-table::-webkit-scrollbar-thumb:hover {
    background: #283e90;
}







