.modal-sidebar{
    height: 85vh;
    background-color: grey;
    padding: 0;
}

.modal-body{
    padding: 0;
    height: 85vh;
    .cont-modal-sidebar{
        background-color: #1a2a5d;
        display: flex;
        flex-direction: column;
        height: 85vh;
        overflow-y: auto;
    }

    .cont-modal-table{
        height: 75vh;
        overflow-y: auto;
    }
    
    .btn-light:hover{
        background-color: #1a2a5d;
        color: white;
    }
}

