
  <div class="col-12">
    <h2 class="m-2" style="display: inline-block">Selected agents</h2>
    <button type="button" class="btn btn-primary ms-3" data-bs-toggle="modal" data-bs-target="#ModalQueue" (click)="loadModalQueue=true">
      Add Queues
    </button>
    <button type="button" class="btn btn-light ms-2" data-bs-toggle="modal" data-bs-target="#ModalGroupPredefined" (click)="loadModalGroups=true">
      Add Predefined Group
    </button>
  </div>
<table class="table table table-hover mt-2">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Queues</th>
        <th scope="col">Department</th>
        <th scope="col">Agent</th>
        <th scope="col">Manager</th>
        <th scope="col">Predefined group</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of selected_agents">

        <td>{{item.name}}</td>
        <td style="max-width: 280px" >
          <mat-chip-listbox aria-label="select a shirt size">
            <mat-chip *ngFor="let queue of item.queues">
              <mat-icon (click)="queue.active = !queue.active" style="cursor: pointer;height: 18px;" *ngIf="queue.active; else disabledQueue" [ngClass]="{'active':queue.active == true,'inactive':queue.active != true}">check</mat-icon>
              <ng-template #disabledQueue ><mat-icon (click)="queue.active = !queue.active" style="cursor: pointer; height: 16px; font-size :20px;z-index:9999;" [ngClass]="{'active':queue.active == true,'inactive':queue.active != true}">clear</mat-icon></ng-template>
              <span style="line-height: 2; gap: 10px;">{{queue.queuename}}</span>
              <button (click)="removeQueue(item.queues,queue)" matChipRemove aria-label="'remove ' + keyword">
                <mat-icon style="color: #ef3131;display: flex;justify-content:center;">cancel</mat-icon>
              </button>
            </mat-chip>          
          </mat-chip-listbox>
        </td>
        <!-- <td><span *ngFor="let queue of item.queues , let i = index" [ngClass]="{'active':queue.active == true,'inactive':queue.active != true}" (click)="activeRemoveQueue(item,queue)" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#ModalQuestion">{{queue.queuename}},</span></td> -->
        <td>{{item.department}}</td>
        <td>{{item.agent}}</td>
        <td>{{item.manager}}</td>
        <td>{{item.predefinedgroup}}</td>
      </tr>
    </tbody>
</table>

