<h2 class="mx-2">selected agents</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Queues</th>
        <th scope="col">Department</th>
        <th scope="col">Agent</th>
        <th scope="col">Manager</th>
        <th scope="col">Predefined group</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of selected_agents">

        <td>{{item.name}}</td>
        <td><span *ngFor="let queue of item.queues , let i = index" [style.color]="(i%2 === 0)?'red':'#08ca4d'">{{queue.queuename}}, </span></td>
        <td>{{item.department}}</td>
        <td>{{item.agent}}</td>
        <td>{{item.manager}}</td>
        <td>{{item.predefinedgroup}}</td>
      </tr>
    </tbody>
</table>
