
  <div class="col-12">
    <h2 class="m-2" style="display: inline-block">Selected agents</h2>
    <button type="button" class="btn btn-primary ms-3" data-bs-toggle="modal" data-bs-target="#ModalQueue" (click)="loadModalQueue=true">
      Add Queues
    </button>
    <button type="button" class="btn btn-light ms-2" data-bs-toggle="modal" data-bs-target="#ModalGroupPredefined" (click)="loadModalGroups=true">
      Add Predefined Group
    </button>
  </div>
<table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Queues</th>
        <th scope="col">Department</th>
        <th scope="col">Agent</th>
        <th scope="col">Manager</th>
        <th scope="col">Predefined group</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of selected_agents">

        <td>{{item.name}}</td>
        <td style="max-width: 280px" >
          <mat-chip-listbox aria-label="select a shirt size">
            <mat-chip *ngFor="let queue of item.queues">
              <mat-icon (click)="queue.active = !queue.active" style="cursor: pointer" *ngIf="queue.active; else disabledQueue" [ngClass]="{'active':queue.active == true,'inactive':queue.active != true}">check</mat-icon>
              <ng-template #disabledQueue ><mat-icon (click)="queue.active = !queue.active" style="cursor: pointer" [ngClass]="{'active':queue.active == true,'inactive':queue.active != true}">sentiment_very_dissatisfied</mat-icon></ng-template>
              <span style="line-height: 2">{{queue.queuename}}</span>
              <button (click)="removeQueue(item.queues,queue)" matChipRemove aria-label="'remove ' + keyword">
                <mat-icon style="color: #ef3131">cancel</mat-icon>
              </button>
            </mat-chip>          
          </mat-chip-listbox>
        </td>
        <!-- <td><span *ngFor="let queue of item.queues , let i = index" [ngClass]="{'active':queue.active == true,'inactive':queue.active != true}" (click)="activeRemoveQueue(item,queue)" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#ModalQuestion">{{queue.queuename}},</span></td> -->
        <td>{{item.department}}</td>
        <td>{{item.agent}}</td>
        <td>{{item.manager}}</td>
        <td>{{item.predefinedgroup}}</td>
      </tr>
    </tbody>
</table>

<!-- Modal -->
<!-- <div class="modal fade" id="ModalQuestion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{nameQueue}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row" >
            <div class="col-12 d-flex">
              <div class="mr-2" style="margin-right: 10px">
                <input type="radio" class="btn-check" name="queueOptions" (click)="activateQueue()" id="activate" autocomplete="off" checked>
                <label class="btn btn-primary ml-2" for="activate">{{activeDesactive}}</label>
              </div>
              <div>
                <input type="radio" class="btn-check" name="queueOptions" id="remove" autocomplete="off">
                <label class="btn btn-danger" for="remove">Remove</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->
